:root {
    --primary-bg: #c46b29;
    --card-bg: #063552;
    --tan-text: #e8dac9;
}

* {
    scroll-behavior: smooth;
}

#logo {
    width: 100px;
    height: auto;
}

body {
    background-color: #c46b29;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    color: var(--tan-text);
}

#mainContainer {
    margin: 8px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 1rem 0;
    position: sticky;
    background-color: var(--primary-bg);
    z-index: 1000;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

header #logo {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

#recentReports {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

#reportOutput {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Always 3 columns */
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}

#monthlyChartContainer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incident-card {
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.375);
    text-align: center;
}

.incident-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.incident-card p {
  margin: 0; /* Remove default spacing */
  line-height: 1.2;
}

.incident-card h3 {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
}

#monthlyChartContainer {
    flex-direction: column;
    padding-top: 2rem;
}

#loadReportContainer {
    padding-top: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: var(--card-bg);
    color: var(--tan-text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    height: 39px;
    transition: transform 0.1s cubic-bezier(0.4,0,0.2,1);
}

button:active {
    transform: scale(0.96);
}

input[type="date"] {
    padding: 0.5rem;
    border: 1px solid var(--card-bg);
    border-radius: 4px;
    width: auto;
    box-sizing: border-box;
    background-color: var(--card-bg);
    color: var(--tan-text);
    font-size: 1rem;
    /* Change calendar icon color for date input */
    &::-webkit-calendar-picker-indicator {
        filter: invert(85%) sepia(10%) saturate(300%) hue-rotate(10deg);
        cursor: pointer;
    }

    &::-ms-input-placeholder {
        color: var(--tan-text);
    }

    &::-webkit-input-placeholder {
        color: var(--tan-text);
    }

    &:-ms-input-placeholder {
        color: var(--tan-text);
    }

    &::placeholder {
        color: var(--tan-text);
    }
}

#monthlyChartContainer h2 {
    margin-bottom: 1rem;
}

#vedder-beach {
    margin: 0;
}

@media (max-width: 900px) {
    #reportOutput {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #reportOutput {
        grid-template-columns: 1fr;
    }   
}
  
  