<!DOCTYPE html>
<html>
<head>
    <title>Bucknell Public Safety Reports</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <a href="#top"><img src="{{ url_for('static', filename='favicon.ico') }}" id="logo" alt="Bucknell Logo" /></a>
        <div id="headerText">
            <h1>Bucknell Public Safety Reports</h1>
        </div>
    </header>

    <div id="mainContainer">
        <div id="recentReportsContainer">
            <h2>Recent 5 Days Reports</h2>
            <p>* The most recent report is usually posted two days after the incident date.</p>  
            <pre id="recentReports"></pre>
        </div>

        <div id="monthlyChartContainer">
            <h2>Monthly Trend Chart</h2>
            <canvas id="monthlyChart"></canvas>
        </div>

        <div id="loadReportContainer">
            <h2>Load Report by Date</h2>
            <div id="userInput">
                <input type="date" id="reportDate" min="2024-01-01" />
                <button onclick="loadReport()">Load Report</button>
                <button onclick="clearReport()">Clear</button>
                <button onclick="loadVedderBeach()">Vedder Beach</button>
            </div>
            <p>* Times are listed in order, 24-hour format</p>
            <p id="vedder-beach">** Vedder Beach - Feb. 2, 2024</p>
            <pre id="reportOutput"></pre>
        </div>
    </div>

    <footer>
        <p>Created by <a href="https://github.com/prjackson17" target="_blank">Parker Jackson</a></p>
        <p>Data collected from Bucknell University's Public Safety Crime Logs (2024-Present)</p>
        <p>Independently created and not affiliated with Bucknell University</p>
    </footer>
</body>
</html>
